# [Dotnet]
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# [Node]
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# [Others]
.vs/
.vscode/
*.swp
*.DS_Store
.env
.antigravity/
.gemini/
